body{
    margin: 0%;
    /* background-color: #eaf6f6; */
    text-align: center;
}
.top-container{
    background-color: #eaf6f6;
    position: relative;
    padding-top: 60px;
}

.text h1{
    font-family: 'Pacifico', cursive;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Sigmar', cursive; */
    font-size: 4rem;
    color:  #66BFBF;
    line-height: 2;
    margin-top: 10px;

}

.text h2{
    font-family: 'Pacifico', cursive;
    font-size: 2.5rem;
    color:  #66BFBF;
    font-weight: normal;
}
.top-cloud{
    position: relative;
    /* right: 300px; */
    /* bottom: 650px; */
    left: 400px;

}
.bottom-cloud{
    position: absolute;
    left: 400px;
}

.middle-container{
    padding: 50px;
}